<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>about elluis</title>
</head>
<body>
    <h1>about elluis</h1>

<p>this is a perfect time to find a shortcut in pycharm to auto insert meow ipsum</p>
<p>well did not find it built in - but, i did find this</p>
<p>Lucas ipsum dolor sit amet mon ackbar mandalorians endor organa dagobah hutt
    k-3po ponda darth. Qui-gonn hutt mandalore antilles naboo leia biggs chewbacca dooku.
    Wicket yavin organa dooku obi-wan cade jabba jinn tusken raider. Sidious lars organa
    antilles calrissian antilles. Darth vader solo mon organa mace boba jango ben. Skywalker
    moff naboo yoda mace. Antilles coruscant bespin darth wookiee. Skywalker utapau
    skywalker anakin c-3po organa darth kit fisto. Ponda mara moff vader ackbar fett.
    Greedo hoth hutt alderaan obi-wan calrissian calamari skywalker skywalker.

    Darth biggs dooku amidala yoda ahsoka jar calamari yoda. Amidala dantooine moff darth
    jabba biggs wookiee moff greedo. Endor moff luke mace. Moff wedge leia hutt skywalker.
    Binks qui-gon darth moff moff windu moff binks. Palpatine jade greedo maul. Antilles
    anakin obi-wan skywalker mara yavin chewbacca luke. Wicket darth palpatine ewok tatooine ben
    dantooine jabba. Calrissian antilles antilles moff. Grievous cade jade gonk yavin hutt
    gamorrean ben. Skywalker organa ackbar skywalker jinn mothma boba antilles lando.</p>
</body>
</html>